@model MVC2EFSecured.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title</h2>

<h4>We received the following message:</h4>
<p>@Model.Message</p>

<h4>We will respond as soon as we can to @Model.Email .</h4>